*{
	margin: 0;
	padding: 0;
	box-sizing: none;
}
.conteiner-groups {
	width: 940px;
	margin: auto;
	margin-top: 80px;
}
.search {
	width: 940px;
}
.conteiner-groups__caption{
	width: 114px;
	height: 50px;
	margin-bottom: 40px;
	font-family: Ledger;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #212121;
}
.search__input {
	border: none;
	width: 100%;
	height: 50px;
	padding: 9px 801px 9px 20px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 #bcc1c8;
	background-color: #ffffff;
 	font-family: AvenirNextCyr;
 	font-size: 16px;
 	font-weight: normal;
 	font-stretch: normal;
	font-style: normal;
 	line-height: normal;
 	letter-spacing: normal;
 	color: #25282d;
 	padding-left: 72px;
 	background-image: url("../IMG/search-white-48-dp.svg");
 	background-size: 32px 32px;
 	background-repeat: no-repeat;
 	background-position: 20px 9px;
}

.search__conteiner-list{
	width: 940px;
	margin: 40px 0 0;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 #bcc1c8;
	background-color: #ffffff;
}
.sorting-caption {
	margin-right: 20px;
	margin-top: 11px;
	width: 92px;
	height: 18px;
	font-family: AvenirNextCyr;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #5c6470;
}
.search__sorting{
	border: none;
	width: 115px;
	height: 18px;
	margin-right: 30px;
	margin-top: 11px;
	font-family: AvenirNextCyr;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #25282d;
	-webkit-appearance: none;
	background-image: url("../IMG/arrow-drop-down-white-48-dp.svg");
	background-size: 20px 20px;
 	background-repeat: no-repeat;
 	background-position: right;
}
.sorting-option{
	border: none;
}
.sorting-option:hover{
	border: none;
	background-color: #e8b32e;
}
.search__group-sort {
	height: 40px;
	border-bottom: 1px solid #bcc1c8;
	display: flex;
	justify-content: flex-end;
	align-content: center;
}
.search__table{
	width: 940px;
	padding: 0;
	margin-bottom: 100px;
}
.search__table-tdh{
	width: 940px;
	height: 62px;
  	padding: 8px 0 0;
  	background-color: #ffffff;
  	border-bottom: solid 1px lightgray;
  	 font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
  }
.search__table-tdh_mod{
	font-weight: 600;
}
.search__table-tr:hover .search__table-tdh{
  	background-color: #f4f5f6;
}
.search__table-tdh:nth-child(1){ 
	padding-left: 40px;
	width: 30%;
}
.search__table-tr:hover .search__table-tdh:nth-child(1){
	border-left: #e8b32e 5px solid;
	padding-left: 35px;
	width: 30%;
}
.search__table-tdh:nth-child(2){
	width: 40%;
}
.search__table-tdh:nth-child(3){
	width: 15%;
}
.search__table-tdh:nth-child(4){
	padding-right: 30px;
	width: 15%;
}
.search__table-navig {
	float: right;
	width: 40px;
  height: 40px;
  object-fit: contain;
}
