.conteiner-group__caption{
  height: 50px;
  margin: 0 236px 40px 0;
  font-family: Ledger;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}
.conteiner-group {
  width: 940px;
  margin: auto;
  margin-top: 80px;
}
.conteiner-group__block {
  display: flex;
}
.conteiner-group__block1 {
  width: 540px;
  height: 638px;
}
.conteiner-group__block2 {
  height: 638px;
  display: flex;
  align-items: center;
}
.conteiner-group__block2__img{
  margin: 20px;
}

.conteiner-group__block1__list {
  width: 540px;
  min-height: 127px;
  margin: 20px 20px 20px 0;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 #bcc1c8;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 30px;
  background-size: 77px 77px;
  padding-bottom: 100px;
}
.conteiner-group__block1__list:nth-child(1){
  background-image: url("../IMG/self-improvement-black-48-dp.svg");
  height: 127px;
} 
.conteiner-group__block1__list:nth-child(2){
  background-image: url("../IMG/group-black-48-dp.svg");
  height: 127px;
} 
.conteiner-group__block1__list:nth-child(3){
  background-image: url("../IMG/school-black-48-dp.svg");
  height: 127px;
} 
.conteiner-group__block1__list:nth-child(4){
  background-image: url("../IMG/text-snippet-black-48-dp.svg");
  height: 197px;
} 

.conteiner-group__block1__main-caption{
  height: 22px;
  margin-left: 137px;
  font-family: AvenirNextCyr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40464f;
}
.conteiner-group__block1__side-caption{
  height: 25px;
  margin-left: 137px;
  font-family: AvenirNextCyr;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #25282d;
}
ul>li{
  padding-bottom: 5px;
}